<div class="image-container">
  <img class="heart" src="assets/heart.png">
  <img class="club" src="assets/club.png">
  <img class="diamond" src="assets/diamond.png">
  <img class="spades" src="assets/spades.png">
</div>
<h1 class="fadeIn">Welcome to Your Virtual Deck of Cards!</h1>
<hr>

<div class="start-container" *ngIf="start">
  <h2 class="starter-text">Click start to shuffle your deck!</h2>
  <button class="start-button" mat-raised-button (click)="startGame()">Start!</button>
</div>

<app-question *ngIf="showQuestion" [question]="question" [buttonInputs]="buttonInputs" [questionNumber]="questionNumber" (nextQuestion)="nextQuestion()"></app-question>

<router-outlet></router-outlet>
